{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}smartpay_advance{% endblock %} </title>
    <link rel="stylesheet"href="{% static 'css/style.css' %}">
    <link rel="stylesheet"href="{% static 'css/style2.css' %}">
</head>
<body>
   <nav class="navbar">
    <div class="nav-left">
        <img src="img/logo2.png" alt="company logo" class="nav-logo">
        <span class="nav-app-name">smartpay_advance</span>

    </div>
    <div class="nav-center">
        <ul>
            <li><a href="#">home</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">how it works</a></li>
            <li><a href="#">contact</a></li>
        </ul>

    </div>
    <div class="nav-right">
        <a href="login.html" class="login-link">login</a>


    </div>

   </nav>


   <section class="hero">
    <div class="hero-text">
        <h1>Your Salary Advance Request,<br> Simplified and Secure.</h1>
        <p>Submit requests privately and get faster approvals from the finance Department - anytime, anywhere.</p>
        <div class="hero-buttons">
            <a href="#" class="btn-primary">login</a>
            <a href="#"  class="btn-secondary">create Acount</a>

        </div>

</div>
<div class="hero-carousel">
    <div class="slides">
        <img src="img/img1.jpg" alt="office 1">
        <img src="img/img2.jpg" alt="office 2">
        <img src="img/img3.jpg" alt="office 3">

    </div>

</div>

   </section>


</body>
</html>