{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}smartpay_advance{% endblock %} </title>
    <link rel="stylesheet"href="{% static 'css/style.css' %}">
    <link rel="stylesheet"href="{% static 'css/style2.css' %}">
</head>
<body>
    <nav class="navbar">
     <div>
        <img src="" alt="">
     </div> 
     <div class="navlinks">
        <ul>
            <li><a href="">home</a></li>
            <li><a href="">about</a></li>
            <li><a href="">finance</a></li>
            <li><a href="">contact</a></li>
            <li><a href="">support</a></li>

        </ul>
     </div>
     
     <a href="" class="longin_btn">login</a>
       
    </nav>
</body>
</html>